<ion-popover-view class="setCenterInputPwdModal" ng-controller='inputSafePassCtrl'>
	<ion-content>
		<div class="back-drop" ng-click="fun.hidePwdPopover()"></div>
		<div class="modalContent" ng-click="fun.inputFocus()">
			<div class="title">
				请输入安全密码,以验证身份
				<i class="spp-guanbi1 iconfont" ng-click="fun.hidePwdPopover($event)"></i>
			</div>
			<div class="contentText">
				<ion-list>
					<ion-item>
						<div class="row">
							<div class="col col-16">
								<div class="border"><span ng-show="user.password.length>=1">*</span></div>
							</div>
							<div class="col col-16">
								<div class="border"><span ng-show="user.password.length>=2">*</span></div>
							</div>
							<div class="col col-16">
								<div class="border"><span ng-show="user.password.length>=3">*</span></div>
							</div>
							<div class="col col-16">
								<div class="border"><span ng-show="user.password.length>=4">*</span></div>
							</div>
							<div class="col col-16">
								<div class="border"><span ng-show="user.password.length>=5">*</span></div>
							</div>
							<div class="col col-16">
								<div class="border"><span ng-show="user.password.length>=6">*</span></div>
							</div>
						</div>
					</ion-item>
				</ion-list>
				<div class="inputPwd">
					<input id="hidingInput"
						 type="password" 
						 ng-blur="fun.inputFocus()"
						 ng-model="user.password" 
						 yp-distrim
						 yp-dischinese
						 yp-disletter
						 yp-disspecial
						 maxlength="6" 
						 ng-change="fun.inputPwdChange(user.password)"
						 autofocus="true"/>
				</div>
			</div>
		</div>
	</ion-content>
</ion-popover-view>