<!--提示设置安全密码-->
<ion-popover-view class="setCenterNoPwdModal" ng-controller='remSafePasswordCtrl'>
	<ion-content>
		<div class="back-drop" ng-click="fun.hideNoPwdPopover()"></div>
		<div class="modalContent">
			<div class="title">
				温馨提示
			</div>
			<div class="contentText">
				<ion-list>
					<ion-item class="item-input">
						<p>
							 您还没有设置安全密码
						</p>			         
			        </ion-item>
				</ion-list>
			</div>
			<div class="btn_sure row">
				<div class="col col-50">
					<botton class="button button-block button-light" ng-click="fun.hideNoPwdPopover()">
						取消
					</botton>
					
				</div>
				<div class="col col-50">
					<botton class="button button-block button-light color_0091ec" ng-click="fun.goSetPwd()">
						现在设置>>
					</botton>
					
				</div>
				
			</div>
		</div>
	</ion-content>
</ion-popover-view>