<ion-view  view-title="开拓商家列表" class="bg_f0f0f0 hasTitle">

    <ion-content class="padding-top">
        <ion-list class="ssp_clerklist ">
            <ion-item class="item" ng-repeat="item in data.check">
                <div class="row">
                    <p class="col col-70 text-left">{{item.name}}</p>
                    <p class="col col-30 text-right color_a2a2a2">D0:
                        <span class="color_9ccc65">{{item.cashInRateT0 | number:1}}</span>
                    </p>
                </div>
                <div class="row">
                    <p class="col col-70 text-left">{{item.telePhone}}</p>
                    <p class="col col-30 text-right color_a2a2a2">D1:
                        <span class="color_dc4b39">{{item.cashInRateT1 | number:1}}</span>
                    </p>
                </div>
            </ion-item>

            <ion-item class="padding0 noborder pageinitnoresult"
                      ng-show="page.pagecheck.initNoResultShow()">

                <p class="padding5 color_969696 text-center bg_f0f0f0">没有店铺数据</p>

            </ion-item>

            <ion-item class="padding0 noborder pageUpNoResult"
                      ng-show="(!page.pagecheck.initNoResultShow() && page.pagecheck.upNoResultShow())">

                <p class="padding5 color_969696 text-center bg_f0f0f0">没有更多数据</p>

            </ion-item>
        </ion-list>


        <ion-infinite-scroll
                ng-if="!page.pagecheck.upNoResultShow()"
                on-infinite="page.pagecheck.up()"
                immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
