<ion-popover-view class="cityPopover">
    <div class="row top">
        <p>请选择单日营业额</p>
    </div>
    <div class="row content ssp-popover-city">
        <div class="col col-90">
            <div class="swiper-container maxDailySalesswiper1">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide color_fff">&nbsp;</li>
                    <li class="swiper-slide"
                        ng-repeat="item in popover.maxDailySales.data['1'] track by $index"
                        ng-class="{'active':item.Id==popover.maxDailySales.selectData['1'].Id}"
                    >
                        {{item.Name}}
                    </li>
                    <li class="swiper-slide color_fff">&nbsp;</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row bottom">
        <a ng-click="popover.maxDailySales.fun().cancel($event)">取消</a>
        <a ng-click="popover.maxDailySales.fun().ok($event)" class="bg_dc4b39">确定</a>
    </div>
</ion-popover-view>