

<ion-popover-view class="cityPopover">
    <div class="pwd-box">
        <input type="text" maxlength="6" class="pwd-input" ng-model="data.securityPwd" id="pwd-input" autofocus="autofocus">
        <div class="fake-box">
            <input type="password" readonly="" ng-value="data.securityPwd.slice(0,1)">
            <input type="password" readonly="" ng-value="data.securityPwd.slice(1,2)">
            <input type="password" readonly="" ng-value="data.securityPwd.slice(2,3)">
            <input type="password" readonly="" ng-value="data.securityPwd.slice(3,4)">
            <input type="password" readonly="" ng-value="data.securityPwd.slice(4,5)">
            <input type="password" readonly="" ng-value="data.securityPwd.slice(5,6)">
        </div>
    </div>
</ion-popover-view>