<ion-view  view-title="设置安全密码" class="bg_f0f0f0 spp-changePassword">
  <ion-content>
	
    <ng-form name="form1" ng-controller="changePassword">
    	<div class="waringText">
			当前绑定的手机号码：{{data.phoneNumber}}
		</div>
      <ion-list>

		<ion-item class="item-input">
        	<label for="userPwd">设置密码</label>
          <input
          	id="password"
          	class="text-right changePassword-password"
            type="password"
            ng-model="data.user.userPwd"
            name="userPwd"
            placeholder="请填写6位提现密码"
            userpwd
            required/>
            <span class='show-password'>            	
            	<i ng-click="fun.changeShowPwd()" ng-show="data.showPwd" class="spp-zhengyan iconfont color_387ef5"></i>
            	<i ng-click="fun.changeShowPwd()" ng-show="!data.showPwd" class="spp-biyan iconfont"></i>
            </span>            
        </ion-item>   
		
        <ion-item class="item-input item-button-right">
        	<label for="phoneCode">验证码</label>
          <input
          	class="text-right changePassword-phoneCode"
            type="tel"
            ng-model="data.user.phoneCode"
            name="phoneCode"
            placeholder="请输入短信验证码"
            send_phone_code
            phonecode
            required/>
        </ion-item>   

        <ion-item class="padding noborder bg_f0f0f0 btn-pagesingle">
          <button class="button button-block button-positive"
                  ng-click="fun.userRegist()">
            确定
          </button>
        </ion-item>
        
        <ion-item ng-show="showVoiceValidateToggle" class = 'voiceValidate' id='VoiceValidate'>
        	收不到短信，<a ng-click="getVoiceValidate()">接听电话</a>获取验证码
        </ion-item>
        
        
    </ng-form>

  </ion-content>
</ion-view>
