
<ion-view view-title="会员中心" class="ssp-buyerInfo bg_f0f0f0">
	<ion-content >

		<ion-list class="head buy">
			<ion-item class="item-thumbnail-left item-icon-right">
				<img ng-src="{{data.headUrl}}">
				<h2>{{data.nickName}}</h2>
				<p class="title-desc">有态度,不将就</p>
			</ion-item>
		</ion-list>

		<ion-list>
			<ion-item class="row">
				<div class="col col-50 red" ng-click="fun.gobill()">
					<div>
						<p>支付总额</p>
						<p>{{data.blanceAmount | number:2}}元</p>
					</div>
				</div>
				<div class="col col-50 blue" ng-click="fun.gopoint()">
					<div>
						<p>积分余额</p>
						<p>{{data.totalScore}}分</p>
					</div>
				</div>
			</ion-item>
			<ion-item class="row">
				<div class="col col-50 blue" ng-click="fun.goappraise()">
					<div>
						<p>我的评价</p>
						<p>{{data.commentTotal}}条</p>
					</div>
				</div>
				<div class="col col-50 red" ng-click="fun.goComingSoon()">
					<div>
						<p>更多</p>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>