<ion-view  view-title="设置安全密码" class="bg_f0f0f0">
  <ion-content class="merchants setCenter-box" ng-controller="merchantssetPassword">
    <ng-form name="form1">
      <ion-list>
        <ion-item class="item-divider">
          <span class="color_a2a2a2">当前绑定的手机号码：{{data.userPhone}}</span>
        </ion-item>
        <ion-item class="item-input item-icon-right noborder">
          <div class="borderbottom">
            <input
                    type="password"
                    class="input-label"
                    name="password"
                    ng-model="data.password"
                    placeholder="请输入6位数的安全密码"
                    required>
          </div>
        </ion-item>
        <ion-item class="item-input item-icon-right noborder">
          <div class="borderbottom">
            <input
                    type="password"
                    class="input-label"
                    name="repassword"
                    ng-model="data.repassword"
                    placeholder="请重新输入6位数的安全密码"
                    required>
            <!--<i class="icon openPassword"></i>-->
          </div>
        </ion-item>
        <ion-item class="item-input item-button-right noborder">
          <!-- <div class="borderbottom noborder"> -->
          <input
                  type="tel"
                  ng-model="data.phoneCode"
                  name="phoneCode"
                  placeholder="请输入5位短信验证码"
                  send_phone_code
                  phonecode
                  required/>
        </ion-item>
      </ion-list>
      <div class="sureSet-btn">
        <button
                class="button button-block button-assertive"
                ng-click="fun.setPasswordSubmit()">
          确认设置
        </button>
      </div>
    </ng-form>


  </ion-content>
</ion-view>
